body {
  background-color: rgb(250,250,250);
}

* {
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;
}

.white {
  background-color: white;
}

.movie-slide{
  overflow-x: auto;
  width:95%
}

.profile-img{
  max-height: 300px;
}

body::-webkit-scrollbar,.movie-slide::-webkit-scrollbar {
    width: 1em;
}
body::-webkit-scrollbar-track,.movie-slide::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb,.movie-slide::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.card-img{
  object-fit: cover;
  min-height:150px;

}
.mini-text{
  font-size: .7rem;
}

.pointer{
  cursor: pointer;
}

button:focus,button:active:focus,button.active:focus,
button.focus,button:active.focus,button.active.focus {
    outline: none;
}
.movieReviewCard {
  width: 40%;
  height: 8rem;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}


.form-login {
  display: flex;
  flex-direction: column;
}

.loginTitle {
  text-align: center;
}

.hidden {
  display: none;
}


.card-title {
  font-size: 1.5rem;
}

.card-subtitle, .dynamicButton {
  font-size: 0.6rem;
}

.card-text {
  font-size: 0.6rem;
}

.backdrop-poster {
  box-shadow:  5px 5px 5px 5px #ccc
}

.listButton {
  font-size: 0.8rem;
}

@media (min-width: 544px) {
  .card-title {font-size:2rem;}
  .card-subtitle, .dynamicButton {font-size:0.8rem;}
  .card-text {font-size:0.8rem;}
  .listButton {font-size: 0.8rem;}/*1rem = 16px*/
}

/* /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-title {font-size:2.5rem;}
  .card-subtitle, .dynamicButton {font-size:1.0rem;}
  .card-text {font-size:0.8rem;} /*1rem = 16px*/
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .card-title {font-size:3rem;}
  .card-subtitle, .dynamicButton {font-size:1.2rem;}
  .card-text {font-size:0.8rem;} /*1rem = 16px*/
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .card-title {font-size:3.5rem;}
  .card-subtitle, .dynamicButton {font-size:1.5rem;}
  .card-text {font-size:1.0rem;}
  .listButton {font-size: 1rem;} /*1rem = 16px*/
}


.transition-appear {
  opacity: 0.01;
}

.transition-appear.transition-appear-active {
  opacity: 1;
  transition: opacity 0.5s ;
}


.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
