body {
  background-color: rgb(250,250,250);
}

.white {
  background-color: white;
}

.card-img{
  object-fit: cover;
}
.mini-text{
  font-size: .7rem;
}

.pointer{
  cursor: pointer;
}

button:focus,button:active:focus,button.active:focus,
button.focus,button:active.focus,button.active.focus {
    outline: none;
}
.movieReviewCard {
  width: 40%;
  height: 8rem;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

/* .login {
  height: 90%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

.form-login {
  display: flex;
  flex-direction: column;
}

.loginTitle {
  text-align: center;
}
